.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  padding: 0 40px;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 16px;
}
.popup__content i {
  margin-right: 10px;
}

.delete-event-btn {
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

.material-icons {
  color: grey;
}

.header {
  margin: 10px 0;
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.create-event-btn {
  margin-right: 30px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 2px 4px 2px 1px rgba(34, 60, 80, 0.14);
  padding: 0 15px;
}
.create-event-btn__icon {
  color: grey;
}

.navigation__today-btn {
  margin-right: 20px;
  width: 70px;
  background-color: transparent;
}
.navigation__nav-icon {
  margin: 0 8px;
}
.navigation__displayed-month {
  margin-left: 10px;
}

.calendar {
  min-width: 700px;
  overflow-y: auto;
}
.calendar__header {
  margin-left: 50px;
  height: 100px;
  display: flex;
}
.calendar____day-label {
  height: 100px;
  flex-grow: 1;
}
.calendar__body {
  height: 1020px;
}
.calendar__week-container {
  display: flex;
}
.calendar__time-scale {
  width: 50px;
}
.calendar__week {
  flex-grow: 1;
  display: flex;
  border-collapse: collapse;
}
.calendar__day {
  flex-grow: 1;
}
.calendar__time-slot {
  position: relative;
  height: 60px;
  border: 1px solid black;
}
.calendar__line-now {
  position: relative;
  width: 100%;
  height: 2px;
  display: block;
  background-color: red;
}
.calendar__line-now::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -6px;
  left: -8px;
  border-radius: 25px;
  background-color: red;
}

.day-label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  color: black;
}
.day-label__day-name {
  text-transform: uppercase;
}

.today > .day-label__day-name {
  color: #26a69a;
}

.today > .day-label__day-number {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #26a69a;
  border-radius: 30px;
}

.calendar__time-scale::before {
  content: "";
}

.time-slot {
  position: relative;
  height: 60px;
  width: 50px;
}
.time-slot__time {
  position: absolute;
  right: 8px;
  top: -6px;
  font-size: 13px;
}

.modal__content {
  box-shadow: 0px 1px 8px 8px rgba(34, 60, 80, 0.2);
}

.create-event {
  position: relative;
}
.create-event__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}
.create-event__close-btn i {
  font-size: 20px;
}

.event-form {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-form__field {
  font-size: 20px;
  border: none;
}
.event-form__input {
  margin-top: 12px;
  margin-left: 22px;
  width: 260px;
  outline: none;
  border: none;
  border-bottom: 2px solid #26a69a;
  padding: 6px;
}
.event-form__date {
  margin-right: 20px;
  width: 124px;
  height: 30px;
  font-size: 14px;
}
.event-form__time-block {
  display: flex;
  align-items: center;
  width: 80px;
}
.event-form__time-error {
  margin-left: 100px;
  margin-top: -36px;
  font-size: 11px;
  color: red;
}
.event-form__description-block {
  display: flex;
}
.event-form__description {
  margin-left: 40px;
  width: 234px;
  border: none;
  outline: none;
  font-size: 16px;
  resize: none;
  padding: 5px;
}
.event-form__time {
  display: flex;
  height: 30px;
  font-size: 14px;
  padding-left: 5px;
}
.event-form__submit-btn {
  margin-left: auto;
  width: 120px;
  background-color: #26a69a;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  line-height: 16px;
  padding: 6px 19px;
}

.event {
  position: absolute;
  width: 90%;
  background-color: #26a69a;
  border-radius: 8px;
  padding: 5px;
}
.event__title {
  margin-bottom: 5px;
  font-size: 15px;
}
.event__time {
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
