// стили сетки календаря и заголовка календаря с днями недели

.calendar {
  min-width: 700px;
  overflow-y: auto;
  &__header {
    margin-left: 50px;
    height: 100px;
    display: flex;
  }
  &____day-label {
    height: 100px;
    flex-grow: 1;
  }
  &__body {
    height: 1020px;
  }

  &__week-container {
    display: flex;
  }

  &__time-scale {
    width: 50px;
  }

  &__week {
    flex-grow: 1;
    display: flex;
    border-collapse: collapse;
  }

  &__day {
    flex-grow: 1;
  }

  &__time-slot {
    position: relative;
    height: 60px;
    border: 1px solid black;
  }

  &__line-now {
    position: relative;
    width: 100%;
    height: 2px;
    display: block;
    background-color: red;

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: -6px;
      left: -8px;
      border-radius: 25px;
      background-color: red;
    }
  }
}

.day-label {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  color: black;

  &__day-name {
    text-transform: uppercase;
  }
}
.today > .day-label__day-name {
  color: #3d6eff;
}
.today > .day-label__day-number {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #3d6eff;
  border-radius: 30px;
}