// стили боковой временной шкалы
.calendar__time-scale {
  &::before {
    content: '';
  }
}
.time-slot {
  position: relative;
  height: 60px;
  width: 50px;
  &__time {
    position: absolute;
    right: 8px;
    top: -6px;
    font-size: 13px;
  }
}
